<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encrypt & Decrypt Converter</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='mainStyle.css') }}"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container">
        <h1 class="logo">Encrypt & Decrypt Converter</h1>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero">
      <div class="container">
        <div class="hero-content">
          <h2>Secure Your Data with Ease</h2>
          <p>
            Convert your data with our powerful encryption and decryption tools,
            ensuring safety and privacy for all your sensitive information.
          </p>
          <a href="{{ url_for('encrypt_file') }}" class="cta-button"
            >Encrypt File</a
          >
          <a href="{{ url_for('decrypt_file') }}" class="cta-button"
            >Decrypt File</a
          >
        </div>
      </div>
    </section>
  </body>
</html>
